Windows Client subdomain resolution

From a Windows client - subdomain resolution doesn't work eg : 
hostname.local works
 but 
hostname.domain.local will not.
Any work arounds ? I have Bonjour installed on windows 10.

[RFC 6762, Section 3 - Multicast DNS Names](https://tools.ietf.org/html/rfc6762#section-3):

> This document allows any computer user to elect to give their computers link-local Multicast DNS host names of the form: "single-dns-label.local.". 
> ...
> This document recommends a single flat namespace for dot-local host names, (i.e., the names of DNS "A" and "AAAA" records, which map names to IPv4 and IPv6 addresses), but other DNS record types (such as those used by DNS-Based Service Discovery [RFC6763]) may contain as many labels as appropriate for the desired usage.

Seems to imply that subdomains aren't officially supported. You can configure `nss-mdns` to allow that via `/etc/mdns.allow` (when not using *minimal* variant in your `/etc/nsswitch.conf`), but that would only be for that machine running it to resolve such, other systems on the network will need to be configured as well (if they support such in the first place) to also allow resolving such.

When not configured for it, the query will instead be a regular DNS query instead of mDNS, so you'd need to configure each network connection to use a different DNS server that you can configure to support other queries, at which point you lost the benefit of hostname zeroconfig lookups, might be suitable for you though. If you have control of the router, you should be able to handle configuration there instead of needing a different DNS server to point to. You can also modify each systems `/etc/hosts` or equivalent to map a FQDN to an IP.

---

Just to clarify, you were wanting `subdomain.hostname.local` not `hostname.domain.local` right? Not sure how you would see the latter working out, other than `.domain.local` being effectively `.local` but scoped to a subset of devices, similar to configuring `.local` to a different TLD(which isn't reliably for mDNS since some devices may not support anything else beyond `.local`).


Related: https://github.com/lathiat/nss-mdns/issues/65#issuecomment-418262394 https://github.com/lathiat/nss-mdns/issues/64#issuecomment-418207918

Both of those further clarify it's against the standard to support by default.

[Apples knowledgebase article also touches on this](https://support.apple.com/en-us/HT207511), stating that it can conflict with other implementations that are using this IANA registered *special use domain name* for other purposes. I assume your case is Active Directory regarding Windows?